<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bennymai.affiliatednonafilliatedscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EateriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseEatery"
            android:label="@string/title_activity_choose_eatery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseCampus"
            android:label="@string/title_activity_choose_campus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DowntownGrounds"
            android:label="@string/title_activity_downtown_grounds"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DG_DripCoffee"
            android:screenOrientation="portrait" />
    </application>

</manifest>